[2019-03-08 17:13] joelsmith opened #8 "SECURITY_CONTACTS files in all Kubernetes project repos have old link"
Now that the new Product Security Committee has superseded the Product Security Team, and now that documents have been moved from https://github.com/kubernetes/sig-release to this repo, all of the `SECURITY_CONTACTS` files across all other Kubernetes project repositories need to be updated. They contain a link to the old location and reference the old PST. I will open PRs across the other reposito

[2019-03-11 17:12] philips opened #9 "Clarify how distributors should communicate during embargoed issues"
From [CVE-2018-1002105 post-mortem](https://github.com/kubernetes/kubernetes/issues/71411)

"Is there a channel for discussion between members of the distributors list?"

Many of the members are secresponse aliases, so not all recipients of the distributors announcement emails will be members of the mailing list.

/assign @philips

[2019-03-15 17:46] philips opened #11 "Joel Smith: Onboarding to PST"
- [x] Add/remove from https://github.com/kubernetes/community/blob/master/sigs.yaml#L2602
- [x] Add/remove from OpsGenie rotation
- [x] https://groups.google.com/a/kubernetes.io/forum/#!forum/security owner
- [x] https://groups.google.com/a/kubernetes.io/forum/#!forum/security owner
- [x] https://groups.google.com/forum/#!forum/kubernetes-security-discuss owner
- [x] https://groups.google.com/foru

[2019-03-18 15:40] liggitt opened #12 "Add distributors pre-announcement template"
From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

Add distributor pre-announcement template that has placeholders for explicit “you may do X with the embargoed patch or information” statements, add instructions for how to ask for clarification (who to contact), and inc

[2019-03-18 15:41] liggitt opened #13 "Update security announcement template"
From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

Update announcement template to include placeholders for concrete steps to determine if a cluster has a vulnerable version/configuration

/assign

moved from https://github.com/kubernetes/sig-release/issues/419

[2019-03-18 15:41] liggitt opened #14 "Update checklist for pre-disclosure review process"
Update security release process and disclosure checklist to include fix team, release team, and PST in review of pre-disclosure announcement draft

From [CVE-2018-1002105](https://github.com/kubernetes/kubernetes/issues/71411) [post-mortem](https://docs.google.com/document/d/1tGpqEM56cSBPfl-qxIs_CGdlABMZXEKEDhCI7eOwGT0/edit#)

/assign

[2019-03-18 15:41] liggitt commented on #14
moved from https://github.com/kubernetes/sig-release/issues/420

[2019-03-20 02:24] joelsmith commented on #11
Do I need to be added to either of these?
https://github.com/kubernetes/community/blob/master/sigs.yaml#L2596
https://github.com/kubernetes/org/blob/master/config/kubernetes/org.yaml#L1851
(I'm not sure if one is generated from the other)

[2019-03-20 02:29] philips commented on #11
@joelsmith yes, PR is up https://github.com/kubernetes/community/pull/3459

[2019-03-20 16:07] joelsmith commented on #8
I wanted to add a note for posterity to say that all of the "Closed" PRs were for repos that got the change via k/k's staging area changes in https://github.com/kubernetes/kubernetes/pull/75201. Once that merged, I verified that the changes made into those repos then closed their PRs.

Thanks to everyone who helped get these all merged, especially @nikhita and @spiffxp who helped shepherd the stra

[2019-03-20 16:50] philips opened #16 "offboard Jess Frazelle"
- [ ] Add/remove from https://github.com/kubernetes/community/blob/master/sigs.yaml#L2602
- [x] Add/remove from OpsGenie rotation
- [x] https://groups.google.com/a/kubernetes.io/forum/#!forum/security owner
- [x] https://groups.google.com/a/kubernetes.io/forum/#!forum/security-discuss-private owner
- [x] https://groups.google.com/forum/#!forum/kubernetes-security-discuss owner
- [x] https://groups

[2019-03-20 17:08] philips commented on #16
PR up for sigs.yaml https://github.com/kubernetes/community/pull/3482/files

[2019-03-20 17:11] philips commented on #16
/assign philips

[2019-03-20 17:11] philips commented on #11
/assign philips

[2019-03-20 17:17] philips opened #17 "document the things the security committee owns"
This list is roughly right:

- [ ]  product-security-committee in https://github.com/kubernetes/community/blob/master/sigs.yaml
- [ ] Kubernetes OpsGenie rotation https://app.opsgenie.com/teams/dashboard/633ac733-665f-4d62-871e-cbc011f37037
- [ ] https://groups.google.com/a/kubernetes.io/forum/#!forum/security owner
- [ ] https://groups.google.com/a/kubernetes.io/forum/#!forum/security-discuss-pri

[2019-04-25 14:58] jzebor opened #26 "Update security disclosure guidelines for features"
Please update the security policy to include how the disclosure of vulnerabilities are handled at the various API stability levels and Feature Stages (alpha, beta, and stable).

The security policy and API versioning documents are not clear on how a reporter should communicate to the security team with regards to finding issues across the various API stability levels and Feature Stages. There is m

[2019-05-06 19:53] joemcmanus opened #29 "Add Ubuntu Security to security list for Kubernetes."
**Actively monitored security email alias for our project:**
security@ubuntu.com

**1. Be an actively maintained and CNCF certified distribution of Kubernetes components.**
Canonical distributes and supports CNCF Kubernetes systems.

**2. Have a user base not limited to your own organization.**
Yes

**3. Have a publicly verifiable track record up to present day of fixing security issues.**
Please

[2019-06-10 16:35] nikhita commented on #8
The last outstanding PR has merged https://github.com/kubernetes/cloud-provider-aws/pull/34

/close

[2019-06-10 16:35] #8 closed

[2019-06-13 21:45] philips commented on #9
/remove-lifecycle stale

[2019-06-13 21:46] philips commented on #29
gah, sorry for not responding to this for weeks!

This looks good to me. So, I will add you to the list.

cc @castrojo

[2019-06-13 21:53] philips opened #33 "docs: create on-boarding and off-boarding docs"
We need on-boarding and off-boarding docs for committee members. We have some of it documented here:

https://github.com/kubernetes/security/issues/16
https://github.com/kubernetes/security/issues/11

[2019-06-13 21:54] philips opened #34 "docs: fixup README"
We should move some of the things in the process doc into the README. In particular:

- who the members are
- how to contact us

[2019-06-13 21:54] philips commented on #33
xref https://github.com/kubernetes/security/issues/17

[2019-06-13 22:05] philips commented on #29
PR is up, and an invite to the group was sent.

https://github.com/kubernetes/security/pull/32

/close

[2019-06-13 22:05] #29 closed

[2019-06-19 23:43] philips commented on #16
/remove-lifecycle stale

On Tue, Jun 18, 2019 at 10:19 AM fejta-bot <notifications@github.com> wrote:

[2019-06-19 23:43] philips commented on #17
/remove-lifecycle stale

On Tue, Jun 18, 2019 at 10:19 AM fejta-bot <notifications@github.com> wrote:

[2019-06-19 23:43] philips commented on #11
/remove-lifecycle stale

On Tue, Jun 18, 2019 at 10:19 AM fejta-bot <notifications@github.com> wrote:

[2019-06-24 15:31] philips commented on #9
The tricky part is maintaining an access control list for the distributors. Today we maintain a list of aliases only: https://github.com/kubernetes/security/blob/master/private-distributors-list.md#membership

[2019-07-12 23:28] tallclair commented on #16
Anything left here?

[2019-07-12 23:34] tallclair commented on #11
/assign @joelsmith

I think this is done?

[2019-07-12 23:34] #11 closed

[2019-07-12 23:44] tallclair opened #39 "Revisit response timelines"
Our process documentation includes a bunch of timelines that I don't think we've followed.

We should review the timelines, and update them to something we expect to follow more closely if necessary. Then, we should make an effort to hold ourselves to those timelines.

Also, we should decide how to handle vulnerabilities that are legitimate vulnerabilities, but things we aren't going to prioritize

[2019-07-18 23:34] philips commented on #39
+1 I think our timelines are too aggressive as well.

Context: When the document was originally written we were hoping to have tighter control over the release process; but in practice trying to have that level of control leads to an extremely high amount of effort and eventual burn out. So, we should document the reality.

[2019-07-18 23:39] philips commented on #16
/close

[2019-07-18 23:39] #16 closed

[2019-08-06 17:22] micahhausler opened #44 "Order CVE Identifiers by release, not by issue received."
CVE's [2019-11247 and 2019-11249](https://groups.google.com/forum/#!topic/kubernetes-security-announce/vUtEcSEY6SM) were released on 8/5/19, while [2019-11248](https://groups.google.com/forum/#!topic/kubernetes-security-announce/pKELclHIov8) was released on 8/6/19. Giving CVEs identifiers based on the issue order can disclose the presence of undisclosed security issues, and should be avoided.

[2019-08-08 05:24] joelsmith commented on #44
This suggestion isn't very feasible since we have to prepare our messaging in advance and we can't reliably predict when a given issue will be disclosed. A disclosure may be delayed for any number of reasons.

Perhaps we could assign  randomly from within our range to prevent inferences about in-flight security issues.

[2019-08-08 05:28] joelsmith opened #46 "Tracking Issue for Third-party Security Audit Findings and Resulting Issues"
I would like to have all issues filed as a result of the [Third-party Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf) all link back to a single issue to make it easier to track status. I'd like to keep this issue open until we feel that all raised issues have been satisfactorily addressed.

[2019-08-08 22:44] micahhausler commented on #46
Linkfix: [Kubernetes Final Report.pdf](https://github.com/kubernetes/community/raw/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

[2019-08-08 23:02] joelsmith commented on #46
Thanks for the corrected link.
/close
Closing in favor of https://github.com/kubernetes/kubernetes/issues/81146

[2019-08-08 23:02] #46 closed

[2019-08-12 23:51] tallclair commented on #39
/cc @destijl

[2019-08-12 23:54] tallclair commented on #39
I think we should take a user-centric approach to this, where everyone on distributors-announce are our users. I'd like to put together a questionnaire to collect feedback from distributors on how they use the embargo announcements, with details like what the ideal embargo length would be, and what their severity threshholds are for handling vulnerabilities. My hope was that the security process w

[2019-08-13 01:12] micahhausler commented on #39
I'd be happy to help out on getting the questionnaire out and working on this

[2019-08-15 18:02] #12 closed

[2019-08-15 18:02] #14 closed

[2019-08-15 18:02] #13 closed

[2019-08-20 20:17] micahhausler commented on #34
Is this resolved in #40?

[2019-08-20 20:49] philips commented on #34
yes!

[2019-08-20 20:49] #34 closed

[2019-08-21 20:20] scheeles opened #48 "private-distributors-list: add Loodse"
**Actively monitored security email alias for our project:** security@loodse.com

**1. Be an actively maintained and CNCF certified distribution of Kubernetes components.**
Yes, we have Kubermatic and KubeOne https://github.com/kubermatic/kubeone
**2. Have a user base not limited to your own organization.**
KubeOne is open source and kubermatic is used by several enterprises e.g. https://metakube.

[2019-08-26 20:39] philips commented on #39
What is the next step on the Kube security response stuff? It has been a
couple of weeks since the last response.

On Mon, Aug 12, 2019 at 6:12 PM Micah Hausler <notifications@github.com>
wrote:

[2019-08-29 17:30] martijnrusschen opened #49 "Sync security-release-process.md with HackerOne"
We (HackerOne) just released a new API endpoint to update the program policy page: https://api.hackerone.com/docs/v1#/programs/policy/update. I heard @kubernetes is interested in this, so I figured it would be good to you guys started.

Using the API endpoint should be fairly straightforward. You can set up an API token as described in the [docs](https://docs.hackerone.com/programs/api-tokens.html

[2019-09-20 05:46] philips commented on #48
This looks fine. Approved.

@swamymsft can you format this into a PR against https://github.com/kubernetes/security/blob/master/private-distributors-list.md

[2019-09-20 16:42] swamymsft commented on #48
Sure, I will get this done

[2019-09-22 16:03] #26 closed

[2019-10-11 23:40] philips commented on #33
https://github.com/kubernetes/security/pull/37 fixes this

[2019-10-11 23:40] #33 closed

[2019-11-05 18:47] tallclair opened #53 "More consistent security-announcements"
We haven't historically posted a security announcement for every vulnerability. We should establish a more well defined policy for when an announcement is sent.

Possible policies include:

1. Announcement for every CVE
2. Announcement for every CVE with a severity over X

Another possibility is to migrate off of the current announcement flow, to something like a vulnerability dashboard that we've

[2019-11-06 17:14] tallclair commented on #53
Also: What is the scope for security announcements? E.g. do we only announce vulnerabilities in core Kubernetes? Or anything owned by the Kubernetes org?

[2019-11-14 20:47] tallclair commented on #17
/remove-lifecycle rotten

[2019-11-14 20:49] tallclair commented on #48
Fixed by https://github.com/kubernetes/security/pull/50

[2019-11-14 20:49] #48 closed

[2019-11-14 20:49] tallclair commented on #9
/remove-lifecycle rotten

[2019-11-14 20:50] tallclair commented on #9
/help

[2019-11-14 21:32] tallclair opened #54 "Improve Process Documentation for Embargoed Releases"
Including:

- decision flow documentation around when/whether to do branch freezes and CVE-only patch releases, versus keeping the train moving on a consistent schedule
- how non-k/k projects should handle embargoed releases
- who owns each step in the embargoed release process

[2019-11-14 21:32] tallclair commented on #54
/help

[2019-11-14 21:34] tallclair opened #55 "Improve process & documentation for non-k/k projects"
- decide what the PSC's role & involvement should be
- write prescriptive checklist that can be followed by subproject owners without incident response experience
- decide how vulnerabilities are communicated

[2019-11-14 21:34] tallclair commented on #55
/help

[2019-11-14 21:37] tallclair opened #56 "SECURITY_CONTACTS contact information"
SECURITY_CONTACTS files currently use github user names, but github doesn't have private messaging, and users don't always have public email addresses.

We need a better solution, so that the PSC is able to reach out to the security contacts through a private channel. A few ideas include:

1. deprecate SECURITY_CONTACTS, and adopt github's new security advisory functionality
2. maintain a private

[2019-11-14 21:46] tallclair opened #57 "Kubernetes vulnerability dashboard"
Should we have a central place where kubernetes security vulnerabilities are published? Our current announcement template includes a lot of mailing lists, and discuss.kubernetes.io. We also usually file a github issue with more details on the vulnerability.

Some ideas include:

- (current process) just use [kubernetes-security-announce](https://groups.google.com/g/kubernetes-security-announce) hi

[2019-11-14 21:49] tallclair opened #58 "Develop security requirements for Kubernetes subprojects to graduate to GA"
Develop security guidelines, requirements and/or frameworks for Kubernetes subprojects. Ideally, sub projects would need to meet some minimum bar of requirements before they could be considered GA.

/help

[2019-11-15 07:54] lukehinds commented on #58
/assign @lukehinds

[2019-12-02 19:29] tallclair commented on #57
A few notes on github security advisories:

- Require repo admin privileges to create
- I *think* advisories cannot be edited or amended once published
- There is an atom feed (and API) associated with a repo's security advisories, so they could suffice as a dashboard & feed

[2019-12-08 07:59] lukehinds opened #63 "Update `security-release-process.md` with ref to security-release-team@ email"
Previously release-managers-private@ was nested within security@.

As of https://github.com/kubernetes/sig-release/pull/900, there will be a separate security-release-team@ email address.

The `security/security-release-process.md`  document should outline the new security-release-team@ email address and how this address should be used when wanting to bring the security release team into a discuss

[2019-12-08 08:01] lukehinds commented on #63
/cc @justaugustus

[2019-12-08 13:32] justaugustus commented on #63
Corresponding releng tracking issue: https://github.com/kubernetes/sig-release/issues/896

[2019-12-14 18:00] justaugustus commented on #63
/assign

[2020-01-05 06:57] #44 closed

[2020-02-04 22:11] tallclair commented on #53
/remove-lifecycle stale

[2020-02-13 09:30] lukehinds commented on #58
/remove-lifecycle stale

sorry, I will get onto this work again and hopefully share g-doc soon.

[2020-02-18 23:21] tallclair commented on #56
/remove-lifecycle stale

Updated proposal:

1. Migrate SECURITY_CONTACTS to SECURITY.md, with a templated security policy
2. Security policy should include the security contacts, with both github user ID, email ID, and slack ID (email/slack optional, email strongly encouraged)

[2020-02-19 01:17] tallclair commented on #55
/remove-lifecycle stale

The bug bounty puts core Kubernetes in Tier 1, and GA subprojects in Tier 2. We'd like to make this explicit on each project, and also formalize what that means for PSC support (possibly with more tiers).

/cc @cjcullen @joelsmith

[2020-02-19 01:18] tallclair commented on #54
/remove-lifecycle stale

[2020-02-19 01:18] tallclair commented on #9
/remove-lifecycle stale

[2020-02-19 01:18] tallclair commented on #39
/remove-lifecycle stale

[2020-02-19 01:18] tallclair commented on #17
/remove-lifecycle stale

[2020-03-03 00:13] tallclair commented on #57
/remove-lifecycle stale

[2020-03-27 14:57] jonpulsifer opened #75 "Offboard Jonathan Pulsifer"
Hey folks, I was going to send an email to the team but this solves the same problem 😄

I haven't been available for a number of reasons, and, despite that I keep thinking to myself "I'll get to it later".. later never comes.

I had the chance to catch up with @tallclair in Seattle before travel was restricted and, given that, I'd like to ask that I be offboarded from the PSC, I think the position

[2020-03-27 16:59] tallclair commented on #75
Thanks Jonathan. I made most of the changes as part of https://github.com/kubernetes/security/pull/70

[2020-03-30 17:13] MorrisLaw opened #77 "private-distributors-list: add DigitalOcean"
**Actively monitored security email alias for our project:** security@digitalocean.com

**1. Be an actively maintained and CNCF certified distribution of Kubernetes components.**
yes, DigitalOcean's managed kubernetes: [DOKS](https://www.digitalocean.com/products/kubernetes/)

**2. Have a user base not limited to your own organization.**
yes, since DOKS is available to users of DigitalOcean

**3.

[2020-03-30 18:03] tallclair commented on #77
LGTM

/assign @joelsmith

[2020-03-30 20:08] #75 closed

[2020-03-30 20:13] joelsmith commented on #77
I verified that requesting entity appears on CNCF certified list at https://www.cncf.io/certification/software-conformance/
Opening PR to add at https://github.com/kubernetes/k8s.io/pull/705

[2020-03-30 20:30] #77 closed

[2020-04-12 22:26] #49 closed

[2020-04-24 09:45] lukehinds opened #80 "Autorespond security@kubernetes.io -> hackerone?"
It seems we all agree, someone with a valid vulnerability deserves an award and we make a point of directing them towards hackerone.

With that in mind, would it be worth us having an auto responder to outline this to any new reports:

My thinking is that everything goes to hackerone for a first triage and free's us up to focus just on the assigned items, rather than a lot of dupes / non issues?

[2020-05-07 17:39] tallclair commented on #53
/remove-lifecycle stale

[2020-05-13 07:01] #80 closed

[2020-05-13 11:18] lukehinds commented on #58
/remove-lifecycle stale

[2020-05-18 23:46] tallclair commented on #56
/remove-lifecycle stale

[2020-05-19 23:36] tallclair opened #81 "[idea] evaluate vulnerabilities against multiple security models"
Many Kubernetes vulnerabilities would have a very different severity score for a single user cluster vs. a multi tenant cluster. It would be nice if we had a well-defined (small) set of cluster configurations / security models that we evaluated against, and published multiple CVSS scores for. We would still need a "main" score to assign the vulnerability (and award a bounty), but for that we could

[2020-05-21 00:17] tallclair commented on #9
/remove-lifecycle stale

/cc @cji - incase this fits in to the documentation you're writing.

[2020-05-21 00:19] tallclair commented on #17
/remove-lifecycle stale

@enj @swamymsft @cji - This is a good associate-scoped task

[2020-05-21 00:21] tallclair commented on #17
Also note that the ownership of a few of these things (notably the public parts) might migrate to sig-security.

[2020-05-21 00:22] tallclair commented on #39
/remove-lifecycle stale

I think this is covered for medium/lows by @cji's policy update, but we should still revise the timelines for high/critical issues

[2020-05-21 00:24] tallclair commented on #54
Partially captured by https://github.com/kubernetes/security/blob/master/psc-oncall.md#incident-response-workflow

We could use better documentation for the private release process though.

/remove-lifecycle stale

[2020-05-21 00:24] tallclair commented on #55
/remove-lifecycle stale
/lifecycle frozen

[2020-05-21 22:06] vbatts opened #82 "private-distributors-list: add Kinvolk"
**Actively monitored security email alias for our project:** security@kinvolk.io

**1. Be an actively maintained and CNCF certified distribution of Kubernetes components.**
https://github.com/cncf/k8s-conformance/pull/959#issuecomment-626046888

**2. Have a user base not limited to your own organization.**
Lokomotive has open-source users, as well as supported users.

**3. Have a publicly verifiab

[2020-05-22 18:02] cji commented on #9
@tallclair I could add something into the documentation for sure if we have a good solution here. Some ideas that I'd love feedback on:
- Look at the oss-sec distro list for Linux vulns that servces a very similar purpose. Their [membership requires individuals to join, not aliases](https://oss-security.openwall.org/wiki/mailing-lists/distros#membership-criteria). My initial reaction is this puts

[2020-06-02 16:33] enj commented on #82
General 👍 from me, based on my experiences with @vbatts during my time at Red Hat.

[2020-06-08 03:46] justaugustus commented on #63
/remove-lifecycle rotten
/lifecycle frozen
/reopen

This needs some input from @kubernetes/product-security-committee.
It's the last item for https://github.com/kubernetes/sig-release/issues/896.

[2020-06-12 20:03] joelsmith opened #92 "Master Issue: Repo SECURITY_CONTACTS should list repo-specific contact people, not PSC members."
Many repositories in Kubernetes do not have repository-specific security contacts listed in their [`SECURITY_CONTACTS`](/SECURITY_CONTACTS) file. Instead, they list the PSC members (current or former). With the exception of k/k, and this repo, the list should not contain only PSC members. I'll update issues or PRs (in the case where the repo has added contacts, but has not removed the PSC) with li

[2020-06-25 19:10] tallclair opened #97 "Establish audit process for information access"
We now have a lot of different places that include sensitive vulnerability information, including:
- Email lists: security@kubernetes.io, security-discuss-private@kubernetes.io, distributors-announce@kubernetes.io, release-managers-private@kubernetes.io
- HackerOne
- github.com/kubernetes-security repos
- (maybe) private slack channel
- Private docs (CNA, others?)

We should:
1. Record everywhere

[2020-06-30 21:00] #53 closed

[2020-07-08 00:53] tallclair commented on #57
/remove-lifecycle rotten

[2020-07-08 21:12] cblecker opened #99 "kubernetes-security fork CI"
The kubernetes-security fork currently doesn't have functioning CI. There is a lack of clarity around ownership/priority/resourcing of it.

We should work with the PSC, test-infra team, and wg-k8s-infra to develop a game plan with ownership/staffing to properly maintain private test infrastructure for the security fork.

cc: @kubernetes/product-security-committee

[2020-07-08 21:45] joelsmith commented on #99
What?!? You can move an issue to another repo? My mind is blown!

[2020-07-10 01:02] #82 closed

[2020-07-10 01:11] joelsmith commented on #82
Sorry for the delay @vbatts. I will forward any recent notices that you may have missed.

[2020-07-10 02:12] vbatts commented on #82
No worries!

[2020-07-15 23:43] justaugustus opened #101 "Distributors Application for Tanzu Kubernetes Grid (TKG)"
**Actively monitored security email alias for our project:**

tkg-cve-disclosure@groups.vmware.com (ref: https://github.com/kubernetes/k8s.io/pull/1004)

**1. Be an actively maintained and CNCF certified distribution of Kubernetes components.**

TKG (and variants, like TKGI) are Certified Kubernetes distributions and listed at https://www.cncf.io/certification/software-conformance/.

**2. Have a u

[2020-07-15 23:52] justaugustus commented on #101
/assign @tallclair @joelsmith

[2020-07-16 00:07] justaugustus commented on #101
Approved by @joelsmith via this comment: https://github.com/kubernetes/k8s.io/pull/1004#issuecomment-659076630

[2020-07-16 00:22] #101 closed

[2020-07-23 17:02] BenTheElder commented on #56
+1 https://github.com/kubernetes/security/issues/56#issuecomment-587954188
What blocks us from moving on this?

[2020-07-23 18:41] tallclair opened #105 "Ensure all Kubernetes repos include a SECURITY.md"
See https://github.com/kubernetes/kubernetes-template-project/pull/35. Once that merges into the project template, we need to update all the repos to add the new file.

[2020-07-23 20:54] tallclair commented on #56
@BenTheElder Nothing (just someone to do the work), except for the concerns raised in the [discussion thread](https://groups.google.com/d/msg/kubernetes-sig-architecture/0MUJBDGf3jg/wYrr8i1tBQAJ) about confusing the intent of security contacts.

xref: https://github.com/kubernetes/kubernetes-template-project/pull/35

[2020-07-23 20:56] BenTheElder commented on #56
Thanks! I agree that the current concept is confusing.
Will think on the easy access to email issue as well (just caught up on the
thread).

On Thu, Jul 23, 2020 at 1:54 PM Tim Allclair <notifications@github.com>
wrote:

[2020-07-24 21:35] tallclair commented on #39
/assign @immutableT

[2020-07-24 21:37] tallclair commented on #57
/cc @justaugustus

An approach to a vulnerability dashboard that we discussed: add a new `kind/cve` label, and ensure that CVE patches get a release note along the lines of https://github.com/kubernetes/kubernetes/pull/92941:

Then, leverage https://relnotes.k8s.io/ filtered by `kind/cve` as the vulnerability dashboard.

[2020-08-07 12:44] nikhita commented on #105
The SECURITY.md file is now defined org-wide for all Kubernetes GitHub orgs - https://github.com/kubernetes/org/issues/2081#issuecomment-670495073.

I guess we can keep this issue open until https://github.com/kubernetes/kubernetes/pull/93486 is merged though.

[2020-09-17 19:21] tallclair commented on #58
/remove-lifecycle rotten

[2020-09-21 13:39] cji commented on #9
/remove-lifecycle rotten

[2020-09-25 15:53] lukehinds opened #112 "Define embargo criteria"
Define in `security-release-process.md` how levels (low/medium/high) correspond to an issue being embargoed.

For example, a low should not be embargo.

[2020-10-07 10:45] sftim commented on #99
Is this: /sig security ?

[2020-10-07 11:13] nikhita commented on #99
Yep, either SIG Security or PSC.

@IanColdwater @tabbysable adding the SIG Security label so that this is not lost, please change if needed! :)

/remove-lifecycle stale
/sig security

[2020-10-12 19:35] sftim commented on #92
/sig security
?

[2020-10-17 01:23] #81 closed

[2020-10-18 01:47] #17 closed

[2020-10-18 02:48] #54 closed

[2020-10-23 14:40] sftim commented on #57
I'd like to either:
- hyperlink to that content from https://k8s.io/
- transclude the same content into a page on https://k8s.io/

[2020-10-29 17:04] sftim commented on #57
/remove-lifecycle stale

[2020-11-05 13:10] sftim commented on #105
/remove-lifecycle stale
https://github.com/kubernetes/kubernetes/pull/93486 not yet merged

[2020-11-11 20:27] #92 closed

[2020-11-22 20:46] #97 closed

[2020-12-03 16:28] justaugustus opened #117 "Response policy for critical vulnerabilities subject to the Kubernetes deprecation policy?"
So this started off as joking around on [Twitter](https://twitter.com/stephenaugustus/status/1334525277809078274?s=20):

...but in trying to prove the point, I couldn't easily find anything explicit about what happens when something critical enough emerges in a component that is subject to the [deprecation policy](https://kubernetes.io/docs/reference/using-api/deprecation-policy/).

What's our res

[2020-12-04 16:42] stone-z opened #118 "private-distributors-list: add Giant Swarm"
**Actively monitored security email alias for our project:** `security@giantswarm.io`

**1. Be an actively maintained and CNCF certified distribution of Kubernetes components.**
Yes, we have active AWS, Azure, and on-prem distributions.
Sample AWS conformance report: https://github.com/cncf/k8s-conformance/pull/1052

**2. Have a user base not limited to your own organization.**
Yes, some public cu

[2020-12-15 23:36] BenTheElder opened #120 "dependabot alerts: 🤔"
GitHub has automated dependency alerts for some languages,  https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies

We've received some of these within the Kubernetes orgs (I can see these currently by way of email to k8s-ci-robot...)

- Does PSC even care? 🙃

If so:
- Should we rely on repo admins seeing and addressing the

[2020-12-21 23:08] #39 closed

[2021-01-12 09:15] sfowl commented on #56
@tallclair @joelsmith @BenTheElder

I circled back on this today and have created an [example PR](https://github.com/sfowl/kubernetes/pull/2) into my own fork of what the proposed changes could look like. I made a [small script](
https://gist.github.com/cb3ba9f935064aa0d68baa06155a6e67) which generates the content for the new `security_contacts` field, and also made a PR to update [the OWNERS spec

[2021-01-12 17:12] tallclair commented on #56
Thanks for picking this up Sam! I think we should not automatically copy the approvers into security contacts. I'd prefer it to be an explicit add, and we (PSC) can just escalate to the approvers if there aren't any security_contacts. Once the changes go in, I think it would be worth sending out a call to action to kubernetes-dev for maintainers to review their security_contacts.

re: emails - as

[2021-01-13 07:29] sfowl commented on #56
/assign

[2021-01-13 08:06] sfowl commented on #56
Thanks for feedback @tallclair !

I've taken out the auto-inclusion of github profile email addresses and added a `slack` key. Values for all `email` and `slack` will be `null` initially, but I will leave them in default to encourage their use.

I've updated the demo PR and spec update, and made a revised version of the [script](https://gist.github.com/6dbe144b890d0687e0ae2ac38524d63f)

[2021-02-12 19:59] cblecker commented on #99
/lifecycle frozen

[2021-02-14 21:38] #58 closed

[2021-02-18 16:06] #9 closed

[2021-02-22 17:42] #112 closed

[2021-02-25 10:38] stone-z commented on #118
Hi folks, just a nudge -- any way we can help here?

[2021-03-05 15:55] lukehinds commented on #105
/remove-lifecycle stale

[2021-03-06 02:08] tabbysable commented on #117
/remove-lifecycle stale

[2021-03-24 13:54] #118 closed

[2021-04-04 16:43] #105 closed

[2021-04-07 17:12] LappleApple commented on #63
/assign @saschagrunert

[2021-04-08 07:46] saschagrunert commented on #63
Hey @kubernetes/product-security-committee :wave:, do you think you can provide the required information how to move forward with this topic?

[2021-04-08 07:53] lukehinds commented on #63
/assign

[2021-04-13 14:41] saschagrunert commented on #63
@lukehinds thank you for picking this up! Can we provide anything from the SIG release perspective to support you?

[2021-04-22 03:53] sfowl commented on #56
Removed the `slack` field from the proposal due to slack usernames not being unique across the kubernetes.slack.com. More info in kubernetes/community/pull/5398

[2021-04-22 20:33] BenTheElder commented on #56
slack has user _id_s that are unique however, xref: https://github.com/kubernetes/community/issues/2349

click on a user, click "view full profile", under the profile click "more ..." then "copy member ID"

our moderation reporting robot uses IDs.

[2021-04-23 12:02] sfowl commented on #56
@BenTheElder Right, that was mentioned in the kubernetes/community PR. My concern was that even if the spec declares that slack _id_s should be used, there doesn't seem to be a way to enforce that, i.e. users would likely still add their _usernames_, which adds the risk of mistaken identity.

The issue you've linked above is interesting. I've wondered if it's the wrong approach to be adding extra

[2021-04-23 19:05] BenTheElder commented on #56
Actually we already enforce other forms of validity in these files and the form of slack user IDs is well-known.

https://github.com/kubernetes/test-infra/blob/master/prow/plugins/verify-owners/verify-owners.go

I don't think we should allow security contacts that don't provide a contact method. I also don't think https://github.com/kubernetes/community/issues/2349 is going to happen, but it's rel

[2021-04-25 19:44] nikhita commented on #120
/remove-lifecycle rotten

On Thu, Apr 15, 2021 at 5:42 AM fejta-bot ***@***.***> wrote:

[2021-04-27 18:04] BenTheElder commented on #120
@kubernetes/sig-security @kubernetes/product-security-committee

[2021-05-19 19:04] tallclair opened #127 "Kubernetes CVE database presubmit check"
I added a validation script for Kubernetes CVEs in https://github.com/kubernetes-security/cvelist-public/pull/4, but it would be great to get this hooked up as a github presubmit check.

[2021-08-03 03:38] #117 closed

[2021-09-06 11:22] saschagrunert commented on #63
Hey @lukehinds, may I ask you about an update on this?

[2021-09-07 09:15] lukehinds commented on #63
https://github.com/kubernetes/security/pull/129/

[2021-09-25 09:50] #120 closed

[2021-10-16 21:39] #127 closed

[2021-12-05 00:59] justaugustus commented on #63
Tim is reviewing https://github.com/kubernetes/committee-security-response/pull/129, so:
/unassign @justaugustus @saschagrunert

[2021-12-07 22:50] k8s-triage-robot opened #134 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-07 23:20] sftim commented on #134
Maybe the template repo needs updating?
[code]

[2021-12-08 04:22] justaugustus commented on #134
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:22] #134 closed

[2021-12-08 22:50] k8s-triage-robot opened #135 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 02:58] justaugustus commented on #135
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 02:58] #135 closed

[2021-12-09 04:15] sbs2001 commented on #57
/remove-lifecycle stale

[2021-12-09 04:15] sbs2001 commented on #57
/reopen

[2021-12-09 04:28] sbs2001 commented on #57
An alternative approach would be to do something like Istio project does. Eg they have markdown documents with embedded yaml like [this](https://github.com/istio/istio.io/blob/master/content/en/news/security/istio-security-2019-001/index.md). Then these are rendered by frontend like [this](https://istio.io/latest/news/security/istio-security-2019-001/) .

IMHO the advantage of this approach is tha

[2022-01-08 05:24] #57 closed

[2022-01-19 20:43] tabbysable opened #137 "Add leads@ to onboarding documentation"
Per notification from Steering, SRC members should PR themselves into the leads@ list [here](https://github.com/kubernetes/k8s.io/blob/main/groups/groups.yaml)

We also need to add that as a step to the onboarding and offboarding process docs.

[2022-01-19 20:45] tabbysable opened #138 "Add OSS-Fuzz to onboarding documentation"
Add a step to the onboarding and offboarding documentation to PR SRC members into the OSS-Fuzz [contacts list for Kubernetes](https://github.com/google/oss-fuzz/blob/master/projects/kubernetes/project.yaml).

[2022-01-27 00:10] tallclair opened #140 "Document incident command process for non-SRC members"
I'd like to create & document an incident response process that we can delegate better. This should include specific steps to follow, action items, timelines, etc. Ideally it could be handed off to non-SRC members who have never been involved in a Kubernetes security response before, and they'd be able to follow the instructions to lead a security response.

Considerations for non-SRC incident res

[2022-02-01 21:40] tallclair opened #142 "Onboard Mo and Offboard Swamy"
- [x] kubernetes/security PR: https://github.com/kubernetes/committee-security-response/pull/141
  - [x] README.md
  - [x] OWNERS_ALIASES
  - [x] SECURITY_CONTACTS
- [x] kubernetes/k8s.io PR: https://github.com/kubernetes/k8s.io/pull/3337
  - [x] groups/security-response-committee/groups.yaml
    - `security@kubernetes.io`
    - `security-discuss-private@kubernetes.io`
    - `distributors-announce

[2022-02-02 01:22] k8s-triage-robot opened #143 "Create a SECURITY_CONTACTS file"
Kubernetes Community repositories must include a
SECURITY_CONTACTS file to define points of contact that can assist with
triaging security issues when requested by the Security Response Committee.

The template for the file can be found in the [kubernetes-template-project](https://git.k8s.io/kubernetes-template-project/SECURITY_CONTACTS).

This issue will periodically comment with reminders until

[2022-02-03 21:45] tallclair opened #144 "Add H1Bot security key process to on/offboarding documentation"

[2022-02-03 21:48] tabbysable opened #145 "Create comms template for owner outreach within project"
This should help streamline sending initial "we have a vuln report" emails, and can provide a place to remind codeowners about careful treatment of non-public vulnerability information.

[2022-02-04 17:09] tallclair commented on #142
Done. Welcome to the team @enj !

[2022-02-04 17:09] #142 closed

[2022-02-04 18:22] tallclair opened #146 "Document googlegroups triage flow"
Add notes on how we use google groups to https://github.com/kubernetes/committee-security-response/blob/main/src-oncall.md

[2022-02-05 01:19] tallclair commented on #140
This would also be useful to SRC members, and should include checklists & timelines for response.

[2022-02-05 01:25] tallclair opened #147 "Document guide to interpreting CVSS for Kubernetes"
It's not always clear how CVSS maps to Kubernetes. To help ensure consistency and reduce decision fatigue, we should document how we interpret and use various adjustments to rate vulnerabilities.

[2022-02-10 08:00] sfowl commented on #143
@tallclair the migration stalled some time ago, I wasn't able to get the proposed changes in, e.g.

https://github.com/kubernetes/community/pull/5398

I could possibly revisit it if there's still enough interest. I would most likely start again from scratch, it ended up being more difficult than I first thought.

[2022-02-11 00:59] tallclair commented on #143
(also responded on slack)
Regarding picking the change back up, I'd recommend splitting it into 2 independent tasks:
1. Add a security_contacts field to owners with just the github handle, and migrate the existing SECURITY_CONTACTS files over.
2. Adding in additional contact information

I think the second tasks is where this stalled last time around, but IMO even just #1 would be useful clean up

[2022-02-17 22:06] PushkarJ commented on #140
Also, there is an opportunity to reuse some ideas / template from here: https://github.com/cncf/tag-security/blob/main/project-resources/templates/incident-response.md

[2022-02-17 22:25] PushkarJ commented on #56
If the intent is to have private space to communicate with SRC, would it be simpler to update the SECURITY_CONTACTS [file](https://github.com/kubernetes/kubernetes-template-project/blob/main/SECURITY_CONTACTS) with the following:

[code]

For all new sub-projects, we could add a step to create a private group like [this](https://github.com/PushkarJ/k8s.io/blob/85678222c4bc8ddc098319b9c780ced83de00

[2022-02-21 08:06] sfowl opened #149 "Consolidate OWNERS and SECURITY_CONTACTS"
Add a `security_contacts field` to OWNERS with just the github handle, and migrate the existing SECURITY_CONTACTS files over.

Supports #56

[2022-02-21 08:06] sfowl commented on #56
The last round of PRs for this task languished due to my own neglect.

@tallclair suggested a more simple approach of:

  1.  Add a `security_contacts` field to OWNERS with just the github handle, and migrate the existing SECURITY_CONTACTS files over.
  2.  Adding in additional contact information

This does seem a more conservative approach, and hopefully less controversial.

To that end I create

[2022-04-04 19:56] micahhausler opened #151 "Onboard @SaranBalaji90 as associate"
- [x] kubernetes/security PR:
  - [x] README.md #152
- [x] kubernetes/k8s.io PR: kubernetes/k8s.io#3593
  - [ ] groups/security-response-committee/groups.yaml
    - `distributors-announce@kubernetes.io`
- [x] kubernetes/community PR:
  - [x] sigs.yaml
  - [x] communication/slack-config/usergroups.yaml
    - [x] Verify slack 2-factor auth
  - [x] `make generate`
- [x] kubernetes/org PR:
  - [x] con

[2022-04-09 21:02] #143 closed

[2022-04-11 19:03] #146 closed

[2022-04-19 07:35] justaugustus opened #154 "Distributors application for Cisco"
**Actively monitored security email alias for our project:**

kubernetes-security@cisco.com

**1. Be an actively maintained and CNCF certified distribution of Kubernetes components.**

Cisco Intersight Kubernetes Service: https://www.cncf.io/certification/software-conformance/

**2. Have a user base not limited to your own organization.**

Yes, Intersight is a public distribution: https://www.cisc

[2022-04-19 07:38] justaugustus commented on #154
Opened https://github.com/kubernetes/k8s.io/pull/3644 to actuate this pending SRC approval.

[2022-04-22 17:28] #154 closed

[2022-04-25 13:21] justaugustus commented on #154
Thanks Tim!

/assign @tallclair
ref: https://github.com/kubernetes/k8s.io/pull/3644#issuecomment-1106668264

[2022-04-29 14:58] enj opened #156 "Onboard @ritazh as associate"
- [ ] kubernetes/security PR:
  - [x] README.md #158
- [ ] kubernetes/k8s.io PR: https://github.com/kubernetes/k8s.io/pull/3700
  - [x] groups/security-response-committee/groups.yaml
    - `distributors-announce@kubernetes.io`
- [ ] ~~kubernetes/community PR:~~
  - [ ] ~~sigs.yaml~~
  - [ ] ~~communication/slack-config/usergroups.yaml~~
  - [ ] ~~`make generate`~~
- [ ] ~~kubernetes/org PR:~~
  -

[2022-04-29 15:00] enj opened #157 "Onboard @PushkarJ as associate"
- [ ] kubernetes/security PR:
  - [x] README.md #158
- [ ] kubernetes/k8s.io PR: https://github.com/kubernetes/k8s.io/pull/3700 https://github.com/kubernetes/k8s.io/pull/3703
  - [x] groups/security-response-committee/groups.yaml
    - `distributors-announce@kubernetes.io`
- [ ] ~~kubernetes/community PR:~~
  - [ ] ~~sigs.yaml~~
  - [ ] ~~communication/slack-config/usergroups.yaml~~
  - [ ] ~~`mak

[2022-05-03 20:27] PushkarJ commented on #157
Thanks for doing this @enj . I just setup 2FA for K8s slack

[2022-05-04 20:09] ritazh commented on #156
Confirming I have 2FA setup for K8s slack. Thanks @enj!

[2022-05-05 15:57] tabbysable commented on #138
/lifecycle frozen
/triage accepted

[2022-05-05 17:12] tabbysable commented on #145
/lifecycle frozen

[2022-05-05 17:15] tabbysable opened #159 "Create comms template for out-of-scope security@ email reports"
Sometimes we get emails to security@ that are not appropriate for that venue: questions about how to harden kubenetes, public vulns, &c. It would make life easier for us and better experience for the requestor if we could close those out quickly and affirmatively. Let's create a comms template for that situation.

It can probably start from the language in the email auto-reply:
[code]

[2022-05-05 17:17] tabbysable commented on #159
/triage accepted
/lifecycle frozen

[2022-05-05 17:17] tabbysable commented on #144
/triage approved
/lifecycle frozen

[2022-05-06 03:08] tabbysable commented on #147
/triage accepted
/lifecycle frozen

[2022-05-09 20:32] enj commented on #159
@tabbysable looks like @cjcullen handled this in #160

[2022-05-09 20:32] #159 closed

[2022-05-10 19:27] PushkarJ commented on #157
@enj Is this ready to be closed? I am assuming the slack channels are not for associates. Rest of it seems to be completed!

[2022-05-10 19:29] enj commented on #157
@PushkarJ I still need to sync with CJ to make sure I covered everything.

[2022-07-14 17:47] tabbysable opened #162 "Add docs about use of CLI utility to request CVEs from new CVE API"
@micahhausler you had good luck using that tool, and it's apparently open-source.

Can you please write up a few notes about how to do it?

[2022-07-18 00:17] #140 closed

[2022-08-09 20:40] #156 closed

[2022-08-09 20:40] #157 closed

[2022-08-22 18:29] tallclair commented on #149
/reopen
/lifecycle frozen

@sfowl are you still working on this?

[2022-09-01 17:12] tabbysable opened #167 "Docs improvement: add check of CVE feed"
Update the release process documentation to add a final step:
* Set a calendar reminder for yourself to check the CVE feed ( https://kubernetes.io/docs/reference/issues-security/official-cve-feed/ ) next day and ensure the automated process added the new CVE

[2022-09-01 20:15] sftim commented on #167
The update should _usually_ happen within a few hours.

[2022-10-06 17:59] tabbysable opened #169 "Update / Create docs for onboarding fix-team members to HackerOne"
There is a useful HackerOne feature where folks can be granted access to just one specific H1 issue, which can be useful when members of a fix team are highly involved in the response process.

To ensure this is done consistently and fix-team members are well-supported, let's create some docs for how to do it right.

[2022-10-20 16:29] sunstonesecure-robert commented on #147
I would scope this not at a "Kubernetes" system level - but to each "component" of K8s - ie this should probably be tightly coordinated (if not coupled) to the [ongoing](https://security.googleblog.com/2022/06/sbom-in-action-finding-vulnerabilities.html) [SBOM](https://github.com/kubernetes-sigs/bom) [efforts](https://www.youtube.com/watch?v=N0ZNdnnHL40)

of course there could be an aggregate roll

[2022-11-25 10:09] sanchita-07 commented on #169
Is this issue still active?